@import 'reset', 'layout', 'variables', 'fonts';

@include reset;

html {
  font-size: 10px;
}

body {
  @include normal-font;
  font-size: 1.6rem;
}

.page-header {
  @include bold-font;
  font-size: 5rem;
  text-align: center;
  padding: 70px 0px 20px;
  .logo-txt {
    color: $tiffany-color;
  }
}

.section-header {
  font-size: 2.4rem;
  text-align: center;
  margin: 10px auto 40px;
  font-style: italic;
  font-weight: 500;
  flex-shrink: 5;
}

.section-wrapper {
  padding: 50px 0px;
  min-height: 40vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.button-koto {
  display: inline-block;
  border: 1px solid $tiffany-color;
  border-radius: 5px;
  background-color: transparent;
  padding: 15px 10px;
  margin-left: 20px;
  font-size: 18px;
  font-style: italic;
  &:hover {
    background-color: $tiffany-color;
    color: #ffffff;
  }
  &:active {
    background-color: darken($color: $tiffany-color, $amount: 10);
  }
}


.input-section {
  min-height: 25vh;
  @media screen and (max-width: 768px) {    
    .button-submit {
      width: 100%;
      margin-top: 15px;
      margin-left: 0;
    }
  }
  .text-to-translate {
    display: inline-block;
    font-size: 20px;
    color: pink;
    width: 80%;
    padding: 15px 10px;
    border: none;
    border-bottom: 2px solid $tiffany-color;
    border-radius: 5px;
    @media screen and (max-width: 768px) {      
      width: 100%;
      font-size: 16px;      
    }
  }
}

.section-actions-cat {
  .head-panel {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;      
      flex-direction: column;
    }
    .section-header {    
      flex-shrink: 5;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .button-stop { 
      display: inline-block;
      margin-left: 20px;
      font-size: 14px;    
      @media screen and (max-width: 768px) {
        margin: 0 15px;
      }
    }    
  }
  .actions-btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .action-btn {
      margin-top: 15px;
      margin-left: 0;
    }
  }
}