@charset "UTF-8";

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li,
menu li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: #eef3f5;
  color: #131313;
  font-family: 'Roboto', sans-serif;
  padding-top: 4rem;
  font-size: 1.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #009adf;
}

h2 {
  font-size: 2.4rem;
  margin: 3rem 0;
}

img {
  max-width: 100%;
}

.btn {
  padding: 2rem 3rem;
  display: inline-block;
  color: #ffffff;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
}

.btn-primary {
  background-color: #009adf;
  -webkit-box-shadow: 0px 2px 1px #0077ac;
  box-shadow: 0px 2px 1px #0077ac;
  border-bottom: 2px solid #0077ac;
}

.btn-primary:hover {
  background-color: #00acf9;
}

.slick-active {
  outline: none;
}

.top-nav {
  background-color: #ffffff;
  padding: 1.5rem 3.4rem;
  position: relative;
}

.top-nav_btn {
  display: none;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  position: absolute;
  right: 15px;
  top: -50px;
  outline: 0 !important;
}

.top-nav_btn:hover {
  cursor: pointer;
}

.top-nav_menu {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-nav_menu li {
  margin-right: 4.5rem;
}

.top-nav_menu li:last-child {
  margin-right: 0;
}

.top-nav_menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #131313;
  font-weight: 700;
}

.top-nav_menu li a::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #009adf;
  -webkit-transform: translateY(3.8rem) scale(0);
  -ms-transform: translateY(3.8rem) scale(0);
  transform: translateY(3.8rem) scale(0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.top-nav_menu li a:hover::after {
  -webkit-transform: translateY(3.8rem) scale(1);
  -ms-transform: translateY(3.8rem) scale(1);
  transform: translateY(3.8rem) scale(1);
}

.left-sidebar {
  margin-top: 4rem;
}

.left-sidebar_btn {
  display: none;
  background-color: #ffffff;
  border: none;
  padding: 1.5rem;
  width: 100%;
  text-align: left;
  position: relative;
}

.left-sidebar_btn:hover {
  cursor: pointer;
}

.left-sidebar_btn::after {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  margin-top: -1rem;
  border-bottom: 0.2rem solid #131313;
  border-right: 0.2rem solid #131313;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.left-sidebar_menu {
  background-color: #ffffff;
  padding: 0;
}

.left-sidebar_menu li {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.left-sidebar_menu li:first-child a {
  padding-top: 2rem;
}

.left-sidebar_menu li:last-child a {
  padding-bottom: 2rem;
}

.left-sidebar_menu li:hover {
  background-color: #009adf;
}

.left-sidebar_menu li:hover a {
  color: #ffffff;
}

.left-sidebar_menu li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  padding: 1.5rem 2.9rem;
  color: #131313;
}

.left-sidebar_object {
  background-color: #ffffff;
  margin-top: 3rem;
  overflow: hidden;
}

.left-sidebar_object-description {
  padding: 3rem;
}

.left-sidebar_object-description h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.left-sidebar_object-description p {
  margin: 1.4rem 0;
}

.content {
  margin-top: 4rem;
  margin-bottom: 7.6rem;
}

.content p {
  margin: 2.2rem 0;
  line-height: 2.5rem;
}

.directions {
  margin-top: 8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.directions-block {
  background-color: #ffffff;
  height: 22rem;
  text-align: center;
  margin: 0 1.5rem;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.directions-block h3 {
  color: #009adf;
  margin: 2rem auto;
}

.footer {
  background-color: #131313;
  color: #666666;
  padding: 5.9rem 0;
  margin-top: 6rem;
}

.footer-policy-link {
  font-size: 1.2rem;
}

.footer a {
  color: #666666;
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
}

.footer p {
  margin-bottom: 1.4rem;
}

.footer small {
  display: block;
  margin-top: 5.6rem;
  font-size: 1rem;
  line-height: 1.6rem;
  max-width: 80%;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  line-height: 3.2rem;
}

.footer_contacts {
  text-align: right;
}

.footer_contacts_phone {
  font-weight: 400;
  font-size: 2rem;
  color: #009adf;
}

.footer-social-links ul {
  padding: 0;
  margin-top: 3.6rem;
  text-align: right;
  margin-right: 0;
}

.footer-social-links ul li {
  display: inline-block;
  margin-left: 1rem;
}

.footer-social-links ul li a {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 3.2rem;
  text-align: center;
  line-height: 3.2rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-social-links ul li a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #131313;
}

/*about - о компании*/

.team {
  text-align: center;
}

.team h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 2rem auto;
}

.team p {
  margin-bottom: 4rem;
}

/*services - наши услуги*/

/*organization - структура*/

.organization-card {
  background-color: #ffffff;
  padding: 2.5rem 3rem;
  margin-bottom: 3rem;
  height: 90%;
}

.organization-card:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.organization-card a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-bottom: 2rem;
}

.organization-card small {
  display: block;
  color: rgba(19, 19, 19, 0.5);
  line-height: 1.5;
}

.organization-card p {
  line-height: 2.2rem;
}

/*investmens - инвесторам*/

.contracts {
  line-height: 2;
}

.calc h4 {
  margin-top: 0;
  margin-bottom: 3rem;
}

.calc-programms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.calc-programms label {
  display: inline-block;
  margin-bottom: 2rem;
}

.calc-programms label small {
  display: block;
  margin-left: 2.8rem;
  opacity: 0.5;
  font-size: 1rem;
}

.calc-programms label::before {
  display: inline-block;
  content: '';
  width: 2.4rem;
  height: 2.4rem;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1);
  background-color: #ffffff;
  vertical-align: middle;
  border: 0.6rem solid #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.calc-programms label:hover {
  cursor: pointer;
}

.calc input[type="radio"] {
  display: none;
}

.calc input[type="radio"]:checked + label::before {
  background-color: #009adf;
  border: 0.6rem solid #ffffff;
}

.calc-radio {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.calc-radio:last-child {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.calc-legal {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.calc-popular {
  display: inline-block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: right;
  -webkit-align-items: right;
  -ms-flex-align: right;
  align-items: right;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 3rem;
  height: 2.5rem;
  margin-left: 1.6rem;
  color: #ffffff;
  background-color: #009adf;
  position: relative;
  max-width: 32%;
  min-width: 13rem;
}

.calc-popular::before {
  content: '';
  width: 0.6rem;
  height: 1.3rem;
  border: 0.6rem solid transparent;
  border-right: 0.6rem solid #009adf;
  position: absolute;
  left: -1.2rem;
  top: 50%;
  margin-top: -0.6rem;
}

.calc input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90%;
  height: 0.5rem;
  background-color: #131313;
  opacity: 0.3;
  outline: none;
}

.calc input[type="range"]::-webkit-slider-thumb {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #009adf;
}

.calc input[type="range"] input[type="range"]::-ms-fill-lower {
  color: #009adf;
}

.calc-summ_invest {
  margin-top: 3rem;
}

.calc-summ_invest_label {
  margin-right: 1rem;
}

.calc-summ_invest_num {
  display: inline-block;
  background-color: #ffffff;
  padding: 1rem 4.8rem;
  font-size: 1.8rem;
}

.calc-wrap {
  margin-top: 1rem;
}

.calc-total,
.calc-monthly {
  min-width: 13rem;
  display: inline-block;
  margin: auto auto;
  background-color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.calc-total strong,
.calc-monthly strong {
  color: #009adf;
  font-size: 1.8rem;
  font-weight: 400;
}

.calc-total small,
.calc-monthly small {
  font-size: 1rem;
}

.calc-monthly {
  background-color: transparent;
}

/*contacts - контакты*/

.contacts {
  font-size: 1.6rem;
}

.contacts-img {
  color: #009adf;
}

.contacts-adress {
  display: block;
  line-height: 2;
}

.contacts-btn {
  margin-top: 3.6rem;
}

.contacts-social-links ul {
  padding: 0;
  margin-top: 3.6rem;
}

.contacts-social-links ul li {
  display: inline-block;
}

.contacts-social-links ul li a {
  display: inline-block;
  background-color: #009adf;
  color: #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 1.5rem;
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  line-height: 3.2rem;
}

.contacts-social-links ul li a:hover {
  background-color: #04b1ff;
}

/*categories - категории (left-sidebar)*/

.object-card {
  background-color: #ffffff;
  margin-bottom: 3rem;
}

.object-card_text {
  padding: 3rem;
}

.object-card_text a {
  display: block;
}

.object-card_title {
  font-size: 1.6rem;
  text-decoration: none;
  color: #009adf;
}

.object-card_price {
  font-size: 2rem;
  font-weight: 700;
  color: #009adf;
  text-align: center;
}

.object-card_btn {
  text-align: center;
  text-decoration: none;
}

.object-card_more {
  color: #131313;
  text-align: center;
  margin-top: 3rem;
}

/*карточка объекта*/

.object-page_gallery {
  float: right;
  width: 370px;
}

.object-page_btn {
  text-decoration: none;
}

/*всплывающие окна*/

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  max-width: 370px;
  margin: 10% auto;
  text-align: center;
  padding: 3rem 4rem;
  -webkit-box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 1, 0.2);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 1, 0.2);
}

.modal-content .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  opacity: 0.5;
}

.modal-content .modal-close:hover {
  cursor: pointer;
}

.modal-content h4 {
  font-size: 1.8rem;
  color: #009adf;
  margin-bottom: 1.4rem;
}

.modal-content p {
  font-size: 1.2rem;
}

.modal-form {
  margin-top: 3.7rem;
}

.modal-form input {
  display: block;
  width: 100%;
  border: 1px solid rgba(19, 19, 19, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-form_btn {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.modal-form small {
  font-size: 1.4rem;
}

.show-modal {
  display: block;
}

@media (max-width: 767px) {
  .top-nav_btn {
    display: block;
  }

  .top-nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: none;
  }

  .top-nav_menu li {
    line-height: 2;
    padding: 1rem	0;
    margin-right: 0;
  }

  .top-nav_menu li a::after {
    display: none;
  }

  .top-nav_menu__active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .left-sidebar_btn {
    display: block;
  }

  .left-sidebar_menu {
    display: none;
  }

  .left-sidebar_menu__active {
    display: block;
  }

  .left-sidebar_object {
    display: none;
  }

  .directions-block img {
    position: absolute;
    bottom: 0px;
    left: 20%;
  }

  .copy {
    text-align: center;
  }

  .copy small {
    margin: 36px auto;
  }

  .footer_contacts {
    text-align: left;
    margin-top: 2rem;
  }

  .object-card img {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .top-nav_btn {
    display: block;
    outline: 0 !important;
  }

  .top-nav_menu {
    display: none;
    margin-top: 1.5rem;
  }

  .top-nav_menu li {
    line-height: 2;
    margin-right: 0;
  }

  .top-nav_menu li a::after {
    display: none;
  }

  .top-nav_menu__active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .left-sidebar_object {
    display: none;
  }

  .left-sidebar_btn {
    display: block;
    outline: 0 !important;
  }

  .left-sidebar_menu {
    display: none;
  }

  .left-sidebar_menu__active {
    display: block;
  }

  .directions-block img {
    position: absolute;
    bottom: 0px;
    left: 0;
  }

  .footer .copy small {
    margin-bottom: 30px;
  }

  .footer_contacts {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .top-nav_btn {
    display: none;
  }

  .top-nav_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .top-nav_menu li {
    margin: 0;
    margin-left: 2rem;
  }
}
/*# sourceMappingURL=maps/style.css.map */
